<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" th:href="@{/assets/css/login.css}">
</head>
<body>
  <div class="container">
    <h2>Forgot Password</h2>

    <!-- Show success or error messages -->
    <div th:if="${message}" class="error">
      <p th:text="${message}"></p>
    </div>

    <form th:action="@{/forgot-password}" method="post" class="login-form">
      <label>Email:</label>
      <input type="email" name="email" required>

      <!-- Captcha Section -->
      <label>Captcha:</label>
      <div>
        <!-- Captcha image with refresh on click -->
        <img id="captchaImg" src="/captcha" alt="captcha"
             style="cursor:pointer"
             onclick="this.src='/captcha?ts=' + Date.now()" />

       
        <input type="text" name="captcha" required /> <br
         <label>Enter Captcha</label>
      </div>

      <button type="submit" class="btn">Send Reset Link</button>
    </form>

    <p><a th:href="@{/}" class="link">Back to Login</a></p>
  </div>
</body>
</html>
